# .github/dependabot.yml
version: 2
updates:
  # Root directory dependencies
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "09:00"
      timezone: "Europe/Madrid"
    open-pull-requests-limit: 10
    versioning-strategy: auto
    commit-message:
      prefix: "chore(service)"
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
      majors:
        patterns:
          - "*"
        update-types:
          - major
  # Seed directory dependencies
  - package-ecosystem: "npm"
    directory: "/seed"
    schedule:
      interval: "monthly"
      time: "09:00"
      timezone: "Europe/Madrid"
    open-pull-requests-limit: 10
    versioning-strategy: auto
    commit-message:
      prefix: "chore(seed)"
    groups:
      all-dependencies:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
          - major
